<section class="s-content s-content--narrow">

    <div class="row">

        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                    ติดต่อสอบถามข้อมูลเพิ่มเติม
            </h1>
        </div> <!-- end s-content__header -->

        <div class="s-content__media col-full">
            <div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=khonkean+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=12&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Draw map route</a></iframe></div><br />
        </div> <!-- end s-content__media -->

        <div class="col-full s-content__main">

            <p class="lead">ที่ตั้ง : ถนนหน้าศูนย์ราชการ ตำบลในเมือง อำเภอเมืองขอนแก่น จังหวัดขอนแก่น 40000</p>

            <p>โทรศัพท์	0 4323 6882, 0 4333 0297

            </p>
        </div>
    </div>
</section>