@(edit : Form[Travel])
<br> <br>
<center>
    <h4>แก้ไขมูลสถานที่ท่องเที่ยว</h4>
</center>
@import helper._;
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
        @if(flash.containsKey("msgError")) {
            <div class="alert alert-danger"><strong>ผิดพลาด</strong>@flash.get("msgError"). </div>
        }
        @helper.form(action = routes.Application.updateTravel(), 'enctype -> "multipart/form-data") {
            @inputText(edit("id"), '_label -> "รหัสข้อมูลสถานที่ท่องเที่ยว",'size -> "100",'readonly->"readonly", 'required -> "required", 'class -> "form-control")
            @inputText(edit("title"), '_label -> "ชื่อสถานที่",'size -> "100", 'required -> "required", 'class -> "form-control")
            @textarea(edit("detail"), '_label -> "รายละเอียด", 'cols -> "100", 'rows -> "5", 'required -> "required", 'class -> "form-control")
            <img src="/assets/images/@edit.get.getPic" width="100px" height="100px">
            @inputFile(edit("pic"), '_label -> "รูปตัวอย่าง")
            <input type="submit" value="บันทึก" class="btn btn-success">
            <input type="reset" value="เคลียร์" class="btn btn-danger">
            }
    </div>
    <div class="col-md-3"></div>
</div>