@(formadd : Form[Culture])
<br> <br>
<center>
    <h4>เพิ่มข้อมูลประวัติศาสตร์สถานที่ต่างๆในเมืองขอนแก่น</h4>
</center>
@import helper._;
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
        @if(flash.containsKey("msgError")) {
            <div class="alert alert-danger"><strong>ผิดพลาด</strong>@flash.get("msgError"). </div>
        }
        @helper.form(action = routes.Application.insertCulture(), 'enctype -> "multipart/form-data") {
            @inputText(formadd("title"), 'size -> "100", '_label -> "",'placeholder->"ชื่อเรื่อง", 'required -> "required", 'class -> "form-control")
            @textarea(formadd("detail"), '_label -> "", 'cols -> "100",'placeholder->"รายละเอียด", 'rows -> "5", 'required -> "required", 'class -> "form-control")
            @inputFile(formadd("pic"), '_label -> "รูปตัวอย่าง", 'required -> "required")
            <input type="submit" value="บันทึก" class="btn btn-success">
            <input type="reset" value="เคลียร์" class="btn btn-danger">
            }
    </div>
    <div class="col-md-3"></div>
</div>