@(travel: List[Travel])
@import java.math.BigInteger;var i = 1;
    <div class="row masonry-wrap" style="background-color: white">
            <center><h4>รายการแหล่งท่องเที่ยวของจังหวัดขอนแก่น</h4></center>
            <br>
            <a href="/formAddTravel" class="btn btn-info">เพิ่มแหล่งท่องเที่ยว</a>
            <br>
            <br>
            <table class="table" border="1">
                <tr>
                    <td align="center" width="100px"><b>ลำดับที่</b></td>
                    <td align="center" width="250px"><b>ชื่อสถานที่</b></td>
                    <td align="center" width="500px"><b>รายละอียด</b></td>
                    <td align="center" width="100px"><b>รูปภาพ</b></td>
                    <td align="center" width="100px"><b>แก้ไข</b></td>
                    <td align="center" width="100px"><b>ลบ</b></td>
                </tr>
                @for(data <- travel) {
                    <tr>
                        <td valign="middle" align="center" width="100px">@i</td>
                        <td width="250px">@data.getTitle</td>
                        <td width="500px" style="height: 5em;white-space: pre-wrap;text-overflow: ellipsis;">@data.getDetail</td>
                        <td valign="middle" align="center" width="100px"><img src="/assets/images/@data.getPic" width="100px" height="100px" alt=""></td>
                        <td valign="middle" align="center" width="100px"><a href="/editTravel/@data.getId">แก้ไข</a> </td>
                        <td valign="middle" align="center" width="100px"><a href="/deleteTravel/@data.getId" onclick="return confirm('คุณต้องการที่จะลบรายการนี้ใช่ไหรือไม่')">ลบ</a></td>
                    </tr>
                    @(i = i + 1)
                }
            </table>

    </div> <!-- end masonry-wrap -->
